.codemail-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.codemail-text {
  color: #0c0c0c;
  font-size: 4em;
  margin-top: var(--dl-space-space-fourunits);
  font-family: "Poppins";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.codemail-text01 {
  color: #0c0c0c;
  font-size: 2.5em;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Poppins";
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.codemail-text02 {
  color: #0c0c0c;
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.5;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.codemail-text07 {
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-family: "Poppins";
  font-weight: 900;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(144, 168, 249, 0.79);
}
.codemail-text08 {
  color: rgb(12, 12, 12);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.5;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.codemail-container1 {
  width: auto;
  height: 214px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.codemail-image {
  width: 298px;
  height: 153px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.codemail-image1 {
  width: 200px;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
}
@media(max-width: 1200px) {
  .codemail-text08 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .codemail-container {
    background-color: #ffffff;
  }
  .codemail-text {
    font-size: 5em;
  }
  .codemail-text01 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .codemail-text02 {
    font-style: normal;
    font-weight: 400;
  }
  .codemail-text08 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .codemail-container1 {
    width: 445px;
    height: 303px;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
  }
  .codemail-image {
    width: 297px;
  }
  .codemail-image1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
  }
}
