.newdocmail-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.newdocmail-text {
  color: #0c0c0c;
  font-size: 4em;
  margin-top: var(--dl-space-space-fourunits);
  font-family: "Poppins";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.newdocmail-text01 {
  color: rgb(12, 12, 12);
  font-size: 2.5em;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Poppins";
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.newdocmail-text02 {
  color: rgb(12, 12, 12);
  font-size: 24px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.5;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.newdocmail-text03 {
  font-style: normal;
}
.newdocmail-text05 {
  font-style: normal;
}
.newdocmail-text06 {
  font-style: normal;
}
.newdocmail-text07 {
  font-style: normal;
}
.newdocmail-text09 {
  font-style: normal;
}
.newdocmail-text11 {
  color: rgb(12, 12, 12);
  font-size: 14px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.5;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.newdocmail-container1 {
  width: auto;
  height: 214px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.newdocmail-image {
  width: 298px;
  height: 153px;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.newdocmail-image1 {
  width: 200px;
  margin-top: var(--dl-space-space-fiveunits);
  object-fit: cover;
}
@media(max-width: 1200px) {
  .newdocmail-text11 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .newdocmail-text {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .newdocmail-container {
    background-color: #ffffff;
  }
  .newdocmail-text {
    font-size: 5em;
  }
  .newdocmail-text01 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    text-align: center;
  }
  .newdocmail-text02 {
    color: rgb(12, 12, 12);
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.5;
  }
  .newdocmail-text03 {
    font-style: normal;
  }
  .newdocmail-text04 {
    font-style: normal;
  }
  .newdocmail-text05 {
    font-style: normal;
  }
  .newdocmail-text06 {
    font-style: inherit;
    font-weight: 700;
  }
  .newdocmail-text07 {
    font-style: normal;
  }
  .newdocmail-text08 {
    font-style: normal;
  }
  .newdocmail-text09 {
    font-style: normal;
  }
  .newdocmail-text10 {
    font-style: normal;
  }
  .newdocmail-text11 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .newdocmail-container1 {
    width: 445px;
    height: 303px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .newdocmail-image {
    width: 297px;
  }
  .newdocmail-image1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
  }
}
