.not-registered-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1626266061368-46a8f578ddd6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fGNhbGN1bGF0b3J8ZW58MHx8fHwxNzAwMzAyNTY1fDA&ixlib=rb-4.0.3&w=1500");
}
.not-registered-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: rgba(122, 163, 255, 0.47);
}
.not-registered-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.not-registered-image {
  flex: 1;
  width: 46px;
  height: 67px;
}
.not-registered-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.not-registered-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.not-registered-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.not-registered-text01 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.not-registered-text02 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.not-registered-text03 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.not-registered-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.not-registered-login {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: rgba(113, 153, 243, 0);
}
.not-registered-register {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  border-color: rgba(21, 32, 239, 0.43);
  border-width: 2px;
  background-color: rgba(255, 169, 60, 0);
}
.not-registered-burger-menu {
  display: none;
}
.not-registered-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.not-registered-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.not-registered-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.not-registered-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.not-registered-logo {
  height: 2rem;
}
.not-registered-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.not-registered-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.not-registered-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.not-registered-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.not-registered-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.not-registered-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.not-registered-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.not-registered-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.not-registered-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.not-registered-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.not-registered-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.not-registered-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.not-registered-form {
  width: 1297px;
  height: 373px;
  display: flex;
  margin-top: 200px;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.59);
}
.not-registered-text11 {
  height: 108px;
  font-size: 6em;
  margin-top: var(--dl-space-space-threeunits);
}
.not-registered-text12 {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-weight: 600;
}
@media(max-width: 1200px) {
  .not-registered-form {
    width: 1148px;
  }
}
@media(max-width: 991px) {
  .not-registered-form {
    width: 958px;
    height: 355px;
  }
  .not-registered-text11 {
    font-size: 5em;
  }
  .not-registered-text12 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .not-registered-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .not-registered-desktop-menu {
    display: none;
  }
  .not-registered-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .not-registered-text07 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .not-registered-text08 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .not-registered-text09 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .not-registered-text10 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .not-registered-login1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border-width: 2px;
  }
  .not-registered-register1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border-width: 2px;
  }
  .not-registered-form {
    width: 648px;
    height: 606px;
    margin-top: 150px;
  }
  .not-registered-text11 {
    height: 231px;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .not-registered-navbar-interactive {
    padding: var(--dl-space-space-unit);
    background-color: rgba(127, 178, 255, 0.35);
  }
  .not-registered-mobile-menu {
    padding: 16px;
    background-color: #efefef;
  }
  .not-registered-text07 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .not-registered-text08 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .not-registered-text09 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .not-registered-text10 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .not-registered-login1 {
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
  }
  .not-registered-register1 {
    border-width: 2px;
  }
  .not-registered-form {
    width: 417px;
    margin-top: 100px;
    border-width: 0px;
  }
  .not-registered-text11 {
    height: 158px;
    font-size: 3.5em;
  }
  .not-registered-text12 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
}
